.img {
    width: auto;
    height: auto;
}
.a {
    margin: 0 0.9375em 0 0.9375em;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #9AE2A9;
    border-radius: 100%;
    padding: 0.375em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}