.item{
    display: flex;
    align-items: center;
    background-color: transparent;
}
.item img {
    width:  0.875em;
    height:  0.875em;
    margin: 0 0.9375em 0 0;
}
.item a {
    font-size: 10px;
    text-decoration: none;
    margin-right: 2em;
}