.div_skill{
    width: 8.75em;
    height: 12.375em;
    background-color: #262626;
    margin: 0 1em 0  1em;
    display: grid;
    place-items: center;

}
.div_skill img{
    width: 2.375em;
    height: 2.375em;
    background-image: #39a780;
}
.div_skill h4{
    text-align: center;
    width: 5.75em;
}