h1{
    font-weight: bold;
    color: white;
    font-size: 36px;
}
h2{
    font-weight: bold;
    color: white;
    font-size: 21px;
}
h3{
    font-weight: bold;
    color: #D4D4D4;
    font-size: 16px;
}

h4{
    font-weight: bold;
    color: #D4D4D4;
    font-size: 13px;
}
html{
    scroll-snap-type: y mandatory;
}
body{
    scroll-snap-type: y mandatory;
    display: grid;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #262626;
}
section{
    scroll-snap-align: start;
    background-color: #1C1C1C; 
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    background-color: #39a780;
    border-radius: 30px;
}